<div layout="column" layout-padding>
  <div layout="column" layout-gt-sm="row"  layout-padding>

<div flex="50">
     <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{dossierDetails.user.profile.username}}</span>
            <span class="md-subhead">Name: {{dossierDetails.user.profile.first_name}} {{dossierDetails.user.profile.last_name}}</span>
            <span class="md-subhead">Phone: {{dossierDetails.user.profile.phone}}</span>
            <span class="md-subhead">Email: {{dossierDetails.user.emails[0].address}}</span>
            <span class="md-subhead">Chapter: {{dossierDetails.user.profile.chapter}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <dossier-image images="dossierDetails.user.profile.picture"></dossier-image>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
        <p>{{dossierDetails.user.profile.bio}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="dossierDetails.open({ userId: dossierDetails.user._id })" class="md-primary md-raised" >Edit</md-button>
        </md-card-actions>
      </md-card>
</div>
</div>
<div layout="row" layout-gt-sm="row"  layout-padding>
    <div ng-show="dossierDetails.eventsY.length > 0" style="background-color:rgba(0,255,0,0.1);margin:20px">
      <label>Confirmed</label>
        <div ng-repeat="event in dossierDetails.eventsY">
        <p> · · · · · · · · · · · · · · · · · · · · </p>
        <p> <md-button ui-sref="eventDetails({ eventId: event._id })" >{{event.name}} </md-button></p>
        <p> {{event.description}} </p>
        <p> {{event.date | date: "EEEE, MMMM d, y @ h:mm:ss a"}} </p>
        <p ng-if="dossierDetails.dateWarn(event.date) > 1"> {{dossierDetails.dateWarn(event.date)}} Days until the event</p>
        <p ng-if="dossierDetails.dateWarn(event.date) == 1"> The event is today!</p>
        <p ng-if="dossierDetails.dateWarn(event.date) < 1"> The event has passed</p>
        <p ng-show="dossierDetails.isUser()"> <event-rsvp event="event" ></event-rsvp> </p>
        </div>
    </div>
    <div  ng-show="dossierDetails.eventsV.length > 0" style="background-color:rgba(204, 0, 204,0.1);margin:20px">
      <label>Volunteered</label>
        <div ng-repeat="event in dossierDetails.eventsV">
        <p> · · · · · · · · · · · · · · · · · · · · </p>
        <p> <md-button ui-sref="eventDetails({ eventId: event._id })" >{{event.name}} </md-button></p>
        <p> {{event.description}} </p>
        <p> {{event.date | date: "EEEE, MMMM d, y @ h:mm:ss a"}} </p>
        <p ng-if="dossierDetails.dateWarn(event.date) > 1"> {{dossierDetails.dateWarn(event.date)}} Days until the event</p>
        <p ng-if="dossierDetails.dateWarn(event.date) == 1"> The event is today!</p>
        <p ng-if="dossierDetails.dateWarn(event.date) < 1"> The event has passed</p>
        <p ng-show="dossierDetails.isUser()"> <event-rsvp event="event" ></event-rsvp> </p>
        </div>
    </div>
    <div  ng-show="dossierDetails.eventsC.length > 0" style="background-color:rgba(255,0,0,0.1);margin:20px">
      <label>Cancelled</label>
        <div ng-repeat="event in dossierDetails.eventsC">
        <p> · · · · · · · · · · · · · · · · · · · · </p>
        <p> <md-button ui-sref="eventDetails({ eventId: event._id })" >{{event.name}} </md-button></p>
        <p> {{event.description}} </p>
        <p> {{event.date | date: "EEEE, MMMM d, y @ h:mm:ss a"}} </p>
        <p ng-if="dossierDetails.dateWarn(event.date) > 1"> {{dossierDetails.dateWarn(event.date)}} Days until the event</p>
        <p ng-if="dossierDetails.dateWarn(event.date) == 1"> The event is today!</p>
        <p ng-if="dossierDetails.dateWarn(event.date) < 1"> The event has passed</p>
        <p ng-show="dossierDetails.isUser()"> <event-rsvp event="event" ></event-rsvp> </p>
        </div>
    </div>
 </div>
 </div>


