
<div style="color:blue;height:30px;background-color:orange;padding:50px;margin:50px"> this is a div </div>

<div style="color:blue;height:30px;background-color:orange;padding:50px;margin:50px"> this is a div </div>

<div style="color:blue;height:30px;background-color:orange;padding:50px;margin:50px"> this is a div </div>

<div style="color:blue;height:30px;background-color:orange;padding:50px;margin:50px"> this is a div </div>

<div style="color:blue;height:30px;background-color:orange;padding:50px;margin:50px"> this is a div </div>


<div style="color:red;height:30px;background-color:purple;padding:50px;margin:50px"> this is a div </div>

<div style="color:red;height:30px;background-color:purple;padding:50px;margin:50px"> this is a div </div>

<div style="color:red;height:30px;background-color:purple;padding:50px;margin:50px"> this is a div </div>

<div style="color:red;height:30px;background-color:purple;padding:50px;margin:50px"> this is a div </div>

