<div layout="column" layout-padding>
  <div layout="column" layout-gt-sm="row"  layout-padding>
    <form flex="50" layout="column">
      <md-input-container>
        <label>Inventory name</label>
        <input ng-model="inventoryDetails.inventory.name" ng-disabled="!inventoryDetails.isLoggedIn">
      </md-input-container>

      <md-input-container>
        <label>Description</label>
        <input ng-model="inventoryDetails.inventory.description" ng-disabled="!inventoryDetails.isLoggedIn">
      </md-input-container>

      <md-input-container>
        <label>Chapter</label>
        <input ng-model="inventoryDetails.inventory.chapter" ng-disabled="!inventoryDetails.isLoggedIn">
      </md-input-container>

      <div>
        <md-button ng-click="inventoryDetails.save()" class="md-primary md-raised">Save</md-button>
      </div>
    </form>
    <inventory-map flex="50" location="inventoryDetails.inventory.location"></inventory-map>
  </div>

  <inventory-uninvited flex inventory="inventoryDetails.inventory" ng-show="inventoryDetails.canInvite()"></inventory-uninvited>
</div>
