<div layout="column" layout-padding>
  <md-input-container>
    <label>
      Recipients:
    </label>
    <ul class='list-styled'>
      <li ng-repeat="attendee in eventAlert.eventAttendees">
        {{attendee.profile.phone}}
      </li>
    </ul>
  </md-input-container>

  <md-input-container>
    <label>
      Message:
    </label>
    <textarea rows='3' ng-model='eventAlert.message'></textarea>
  </md-input-container>

  <md-button ng-click="eventAlert.send()" class="md-raised">Send</md-button>

</div>
