<div layout="column" layout-padding>
  <div class>
    <label>
      Recipients:
    </label>
    <!-- Show list of recipients -->
    <ul class='list-group'>
      <li class='list-group-item' ng-repeat="attendee in eventAlert.eventAttendees">
        {{attendee.profile.phone}}
      </li>
    </ul>
  </div>

  <md-input-container>
    <label>
      Message:
    </label>
    <textarea ng-model='eventAlert.message' required md-maxlength='140' rows='5'></textarea>
  </md-input-container>

  <md-button ng-click="eventAlert.send()" class="md-primary md-raised"> Send </md-button>


</div>
