<div layout="column" layout-padding>
  <md-input-container>
    <label>
      Dossier Name:
    </label>
    <input type="text" ng-model="dossierAdd.dossier.name"/>
  </md-input-container>
  <md-input-container>
    <label>
      Description:
    </label>
    <input type="text" ng-model="dossierAdd.dossier.description"/>
  </md-input-container>
  <div flex>
    <md-checkbox ng-model="dossierAdd.dossier.public" aria-label="Public Dossier?">
      Public Dossier?
    </md-checkbox>
  </div>
  <div flex>
    <md-button ng-click="dossierAdd.submit()" class="md-raised">Add Dossier!</md-button>
  </div>
  <dossier-upload files="dossierAdd.dossier.images"></dossier-upload>
</div>
