
<div layout="column" layout-padding>
  <md-input-container>
    <label>
     Name:
    </label>
    <input type="text" ng-model="inventoryModify.inventoryModify.name"/>
  </md-input-container>
  <div style="height:100px">
  <md-input-container>
    <label>
      Description:
    </label>
    <input type="text" ng-model="inventoryModify.inventoryModify.description"/>
  </md-input-container>
    
  <md-input-container>
    <label>
      Chapter:
    </label>
    <input type="text" ng-model="inventoryModify.inventoryModify.chapter"/>
  </md-input-container>
  <div>
    <inventoryModify-upload files="inventoryModify.inventoryModify.images"></inventoryModify-upload>
    <md-card-title-media ng-if="inventoryModify.inventoryModify.images">
            <div class="md-media-lg card-media">
              <inventoryModify-image images="inventoryModify.inventoryModify.images"></inventoryModify-image>
            </div>
    </md-card-title-media>
  </div>
    <md-button ng-click="inventoryModify.getlocation(inventoryModify.inventory)" class="md-raised">Save Changes</md-button>
</div>
