<ion-view title="Heroes On The Water" id="page2" class=" ">
    <ion-content padding="true" style="background: url(img/XzNxdyzlTAm5bI7GgFdd_calm_water_lake.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 49px;"></div>
        <h1 id="heroesOnTheWater-heading6" style="color:#000000;text-align:center;" class=" ">Heroes</h1>
        <h3 id="heroesOnTheWater-heading7" style="color:#000000;" class=" ">On</h3>
        <h3 id="heroesOnTheWater-heading8" style="color:#000000;text-align:center;" class=" ">The</h3>
        <h1 id="heroesOnTheWater-heading9" style="color:#000000;text-align:right;" class=" ">Water</h1>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <div id="heroesOnTheWater-button-bar4" class=" button-bar ">
            <button id="heroesOnTheWater-button16" class=" button button-positive  button-block ">Go Fish</button>
            <button id="heroesOnTheWater-button18" class=" button button-positive  button-block ">Volunteer</button>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div>{{splashIndex.getval()}}</div>

        <events-list></events-list>
        
        <div class="spacer" style="height: 100px;"></div>

        <h1 id="heroesOnTheWater-heading12" style="color:#000000;" class=" ">Stories</h1>
        <p id="heroesOnTheWater-markdown3" style="color:#000000;" class=" ">See his story</p>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="heroesOnTheWater-video1" class=" ">
            <iframe src="https://www.youtube.com/embed/iZQFKPaVNMQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <p id="heroesOnTheWater-markdown2" style="color:#000000;" class=" ">This is a different story</p>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="heroesOnTheWater-video2" class=" ">
            <iframe src="https://www.youtube.com/embed/ayU_twAeTfo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>

        <div class="spacer" style="height: 100px;"></div>

        <h1 id="heroesOnTheWater-heading14" style="color:#000000;" class=" ">About HOW</h1>
        <p id="heroesOnTheWater-markdown4" style="color:#000000;" class=" ">Heroes on the Water helps our Nation’s warriors and veterans from all branches of the United States military unwind using the therapeutic qualities of fishing from kayaks. What looks like a day trip of paddling and fishing is in fact something
            much deeper and long-lasting.</p>
        <p id="heroesOnTheWater-markdown5" style="color:#000000;" class=" ">Founded in 2007, our unique kayak fishing program allows the participants a chance to decompress from the stresses associated with combat and the physical rigors of rehabilitation. Warriors enjoy these benefits while on guided fishing trips held
            in local communities around the country.</p>

        <div class="spacer" style="height: 100px;"></div>

        <h1 id="heroesOnTheWater-heading10" style="color:#000000;" class=" ">Additional Info</h1>
        <ion-list id="heroesOnTheWater-list3" class=" ">
            <ion-item id="heroesOnTheWater-list-item9" class="  ">Link to wounded warriors
                <span class="item-note">Get help</span>
            </ion-item>
            <ion-item id="heroesOnTheWater-list-item10" class="  ">Link to udacity
                <span class="item-note">Learn!</span>
            </ion-item>
            <ion-item id="heroesOnTheWater-list-item11" class="  ">Link to RedWhiteBlue
                <span class="item-note">Support</span>
            </ion-item>
            <ion-item id="heroesOnTheWater-list-item12" class="  ">Link to ""
                <span class="item-note">stuff</span>
            </ion-item>
        </ion-list>

        <div class="spacer" style="height: 100px;"></div>

        <h1 id="heroesOnTheWater-heading15" style="color:#000000;" class=" ">Donate</h1>
        <form id="heroesOnTheWater-form1" class="list ">
            
            <md-input-container>
                <label>
                Your Name:
                </label>
                <input type="text" ng-model="splashIndex.donations.name"/>
            </md-input-container>
            <md-input-container>
                <label>
                Organization:
                </label>
                <input type="text" ng-model="splashIndex.donations.organization"/>
            </md-input-container>
            <md-input-container>
                <label>
                Contact:
                </label>
                <input type="text" ng-model="splashIndex.donations.contact"/>
            </md-input-container>
            <md-input-container>
                <label>
                Amount:
                </label>
                <input type="text" ng-model="splashIndex.donations.amount"/>
            </md-input-container>
                
            <md-button ng-click="splashIndex.donate()" class="md-raised">Donate!</md-button>


        </form>

        <div class="spacer" style="height: 100px;"></div>

        <h1 id="heroesOnTheWater-heading16" style="color:#000000;" class=" ">Disclaimers</h1>
        <p id="heroesOnTheWater-markdown6" style="color:#000000;text-align:center;" class=" ">(C) AT&amp;T Interns: Bytes R Us</p>
        <div class="spacer" style="width: 300px; height: 345px;"></div>
    </ion-content>
</ion-view>