<div layout="column" layout-padding>
  <event-add-button ng-show="eventsDb.isLoggedIn"></event-add-button>

  <div flex>
    <h2 class="md-display-1">List of events:</h2>
  </div>

  <div flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="eventsDb.searchText" />
    </md-input-container>
    <md-input-container>
    <label>Column</label>
    <md-select ng-model="eventsDb.opt">
        <md-option data-ng-repeat="o in eventsDb.column">{{o}}</md-option>
      </md-select>
    </md-input-container>

    <events-sort on-change="eventsDb.sortChanged(sort)" property="date" order="-1"></events-sort>
  </div>

  <div layout="column" layout-gt-sm="row" class='datagrid'>
    <table class="table table-striped">
      <thead></thead>
      <tbody>
        <tr >
        <td> Link </td>
        <td ng-repeat="subject in eventsDb.column" > {{subject}} </td>
        <td> Attendants </td>
        <td> Volunteers </td>
        <td> Cancellations </td>
        <td> Picture </td>
        <td ng-show="eventsDb.isAuthorized()"> Edit </td>
        <td ng-show="eventsDb.isAuthorized()"> Delete </td>
        <td ng-show="eventsDb.isAuthorized()"> Alert </td>
        </tr>  

        <tr ng-repeat="event in eventsDb.events">
          <td ui-sref="eventDetails({ eventId: event._id })"> Detail Page </td>
          <td> {{event.name}} </td>
          <td> {{event.date | date: "EEEE, MMMM d, y @ h:mm:ss a"}} </td>
          <td> {{event.description}} </td>
          <td> {{event.address}} </td>
          <td> {{event.resources}} </td>
          <td> <event-creator event="event"></event-creator> </td>
          <td> {{event.chapter}} </td>
          <td> <event-attendees event="event" attendtype="'yes'"></event-attendees> </td>
          <td> <event-attendees event="event" attendtype="'vol'"></event-attendees> </td>
          <td> <event-attendees event="event" attendtype="'can'"></event-attendees> </td>
          <td><div style="height:80px" ng-if="event.images">
                <event-image images="event.images"></event-image>
              </div></td>
          <td ng-show="eventsDb.isAuthorized()"><md-button ng-click="eventsDb.open({ eventId: event._id })" class="md-primary md-raised" >Edit</md-button></td>
          <td ng-show="eventsDb.isAuthorized()"> <event-remove event="event"></event-remove> </td>
          <td ng-show="eventsDb.isAuthorized()"><md-button ng-click="eventsDb.alert({ eventId: event._id })" style="background-color:orange" class='md-warning md-raised'>Alert</md-button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

