<div layout="column" layout-padding>
  <inventory-add-button ng-show="inventoriesList.isLoggedIn"></inventory-add-button>

  <div flex>
    <h2 class="md-display-1">List of the inventories:</h2>
  </div>

  <div flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="inventoriesList.searchText">
    </md-input-container>

    <inventories-sort on-change="inventoriesList.sortChanged(sort)" property="name" order="1"></inventories-sort>
  </div>

  <div layout="column" layout-gt-sm="row">
    <div flex="50">
      <md-card dir-paginate="inventory in inventoriesList.inventories | itemsPerPage: inventoriesList.perPage" total-items="inventoriesList.inventoriesCount">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ui-sref="inventoryDetails({ inventoryId: inventory._id })">
              {{inventory.name}}
              <inventory-remove inventory="inventory"></inventory-remove>
            </span>
            <span class="md-subhead">{{inventory.description}}</span>
             <span class="md-subhead">{{inventory.chapter}}</span>
          </md-card-title-text>
          <md-card-title-media ng-if="inventory.images">
            <div class="md-media-lg card-media">
              <inventory-image images="inventory.images"></inventory-image>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <inventory-creator inventory="inventory"></inventory-creator>
        </md-card-content>
        <md-card-actions>
          <!--<inventory-rsvp inventory="inventory" ng-show="inventoriesList.isLoggedIn"></inventory-rsvp>-->
          <div ng-hide="inventoriesList.isLoggedIn">
          </div>
        </md-card-actions>
      </md-card>
      <dir-pagination-controls on-page-change="inventoriesList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
    <div flex="50">
      <inventories-map inventories="inventoriesList.inventories"></inventories-map>
    </div>
  </div>
</div>
