<div layout="column" layout-padding>
  <inventory-add-button ng-show="inventoriesDb.isLoggedIn"></inventory-add-button>

  <div flex>
    <h2 class="md-display-1">List of inventories:</h2>
  </div>

  <div flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="inventoriesDb.searchText" />
    </md-input-container>
    <md-input-container>
    <label>Column</label>
    <md-select ng-model="inventoriesDb.opt">
        <md-option data-ng-repeat="o in inventoriesDb.column">{{o}}</md-option>
      </md-select>
    </md-input-container>

    <inventories-sort on-change="inventoriesDb.sortChanged(sort)" property="date" order="-1"></inventories-sort>
  </div>

  <div layout="column" layout-gt-sm="row" class='datagrid'>
    <table class ="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr >
        <td> Link </td>
        <td ng-repeat="subject in inventoriesDb.column" > {{subject}} </td>
        <td> Edit </td>
        <td> Delete </td>
        </tr>  

        <tr ng-repeat="inventory in inventoriesDb.inventories">
          <td ui-sref="inventoryDetails({ inventoryId: inventory._id })"> Detail Page </td>
          <td> {{inventory.name}} </td>
          <td> {{inventory.description}} </td>
          <td> {{inventory.chapter}} </td>
          <td> <inventory-creator inventory="inventory"></inventory-creator> </td>


      <!-- Edit Function -->
          
          <td><md-button ng-click="inventoriesDb.open({ inventoryId: inventory._id })" class="md-primary md-raised">Edit</md-button></td>

      <!-- Delete Function -->
        <td><inventory-remove inventory="inventory"></inventory-remove></td>



      <!-- <td> <inventory-remove inventory="inventory"> </inventory-remove> </td>  -->
        </tr>
      </tbody>
    </table>
  </div>

</div>
