<div layout="column" layout-padding>
  <inventory-add-button ng-show="inventoriesDb.isLoggedIn"></inventory-add-button>

  <div flex>
    <h2 class="md-display-1">List of the inventories:</h2>
  </div>

  <div flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="inventoriesDb.searchText" />
    </md-input-container>
    <md-input-container>
    <label>Column</label>
    <md-select ng-model="inventoriesDb.opt">
        <md-option data-ng-repeat="o in inventoriesDb.column">{{o}}</md-option>
      </md-select>
    </md-input-container>

    
  </div>

  <table>
    <thead>
        <style>
          td{
              border: 1px solid black;
              padding: 20px;
            }

        </style>
    </thead>
    <tbody>
      <tr >
      <td ng-repeat="subject in inventoriesDb.column" > {{subject}} </td>
      </tr>  
      <tr ng-repeat="inventory in inventoriesDb.inventories">
       <td ui-sref="inventoryDetails({ inventoryId: inventory._id })"> {{inventory.name}} </td>
        <!--<td>    {{inventory.name}}    </td> -->
        <td  class = "table table-striped">   {{inventory.description}} </td> 
        <td  class = "table table-striped">   {{inventory.chapter}}     </td>
        <td> <inventory-creator inventory="inventory"></inventory-creator> </td>
        <!--<td><div style="height:80px" ng-if="inventory.images">
              <inventory-image images="inventory.images"></inventory-image>
            </div></td>-->
        <td><md-button ng-click="inventoryiesDb.open({ inventoryId: inventory._id })" class="md-primary md-raised" >Edit</md-button></td>
        <!--<td><md-button ng-click="inventory-remove innventory" class="md-primary md-raised" >Delete</md-button></td>-->
        <!--<td><md-button ng-click="inventory-remove inventory" class"md-primary md-raised">Delete</md-button></td>-->
        <td> <inventory-remove inventory="inventory"></inventory-remove> Delete</td> 
      </tr>
    </tbody>
  </table>


  <div layout="column" layout-gt-sm="row">
    <div flex="50">
      
    <dir-pagination-controls on-page-change="inventoriessDb.pageChanged(newPageNumber)"></dir-pagination-controls>
    
    <div flex="50">
    </div>
  </div>
</div>
