<div layout="column" layout-padding>
  <div flex ng-show="eventAdd.isAdmin()">
    <md-checkbox ng-model="eventAdd.event.public" aria-label="Public Event?" ng-init="eventAdd.event.public=true">
      Public Event?
    </md-checkbox>
  </div>
  <div flex>
  <md-input-container>
    <label>
      Event Name:
    </label>
    <input type="text" ng-model="eventAdd.event.name" required="true" />
  </md-input-container>
  <div style="height:100px">
    <label>
      Date:
    </label>
    <md-datepicker ng-model="eventAdd.event.date" md-placeholder="Enter date" required="true"></md-datepicker>
  </div>
  <md-input-container>
    <label>
      Time:
    </label>
    <input type="time" ng-model="eventAdd.event.time" required="true"/>
  </md-input-container>
  <md-input-container>
    <label>
      Description:
    </label>
    <input type="text" ng-model="eventAdd.event.description"/>
  </md-input-container>
    <md-input-container>
    <label>
      Address:
    </label>
    <input type="text" ng-model="eventAdd.event.address" required="true"/>
  </md-input-container>
    <md-input-container>
    <label>
      Resources:
    </label>
    <input type="text" ng-model="eventAdd.event.resources"/>
  </md-input-container>
    <md-input-container>
    <label>
      Organizer:
    </label>
    <input type="text" ng-model="eventAdd.event.organizer"/>
  </md-input-container>
      <md-input-container>
    <label>
      Chapter:
    </label>
    <md-select ng-model="eventAdd.event.chapter" md-selected-text='eventAdd.getSelected()'>
      <md-optgroup label={{chapter.state}} ng-repeat='chapter in eventAdd.chapters'>
        <md-option ng-value='chapter.state + " : " + chapter.location' ng-repeat='chapter in eventAdd.chapters | filter: {state: chapter.state}' > {{chapter.location}} </md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>
  <div>
    <event-upload files="eventAdd.event.images"></event-upload>
    <md-card-title-media ng-if="eventAdd.event.images">
            <div class="md-media-lg card-media">
              <event-image images="eventAdd.event.images"></event-image>
            </div>
    </md-card-title-media>
  </div>
    <md-button ng-click="eventAdd.submit()" class="md-raised">Add Event!</md-button>
    </div>
</div>
