<md-toolbar style="height:110px;z-index:10000">
  <div class="md-toolbar-tools" style="margin-top:15px">
    <h2>
      <span ui-sref="splash">
        <img src="img/howlogo.png">
      </span>
    </h2>
    <md-button href='/events'> Events </md-button>
    <md-button ng-show="navigation.isAuthorized()" href='/splash/admin'> Admin </md-button>
    <md-button ng-show="navigation.isLoggedIn()" ui-sref="dossierDetails({ userId: Meteor.userId() })"> Profile </md-button>
    <md-button href='/splash#donation-section'> Donate </md-button>
    <span flex></span>
    <auth></auth>
  </div>
</md-toolbar>
