<div layout="column" layout-padding>
  <event-add-button ng-show="eventsList.isLoggedIn"></event-add-button>

  <div flex>
    <h2 class="md-display-1">List of the events:</h2>
  </div>

  <div flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="eventsList.searchText">
    </md-input-container>

    <events-sort on-change="eventsList.sortChanged(sort)" property="name" order="1"></events-sort>
  </div>

  <div layout="column" layout-gt-sm="row">
    <div flex="50">
      <md-card dir-paginate="event in eventsList.events | itemsPerPage: eventsList.perPage" total-items="eventsList.eventsCount">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ui-sref="eventDetails({ eventId: event._id })">
              {{event.name}}
              <event-remove event="event"></event-remove>
            </span>
            <span class="md-subhead">{{event.description}}</span>
          </md-card-title-text>
          <md-card-title-media ng-if="event.images">
            <div class="md-media-lg card-media">
              <event-image images="event.images"></event-image>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <event-rsvps-list rsvps="event.rsvps"></event-rsvps-list>

          <event-unanswered event="event" ng-if="!event.public"></event-unanswered>
          <div ng-if="event.public">
            Everyone is invited
          </div>

          <event-creator event="event"></event-creator>
        </md-card-content>
        <md-card-actions>
          <event-rsvp event="event" ng-show="eventsList.isLoggedIn"></event-rsvp>
          <div ng-hide="eventsList.isLoggedIn">
            <i>Sign in to RSVP for this event.</i>
          </div>
        </md-card-actions>
      </md-card>
      <dir-pagination-controls on-page-change="eventsList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
    <div flex="50">
      <events-map events="eventsList.events"></events-map>
    </div>
  </div>
</div>
