<div layout="column" layout-padding>

  <div flex>
    <h2 class="md-display-1">Events</h2>
  </div>

  <div flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="eventsList.searchText">
    </md-input-container>
    <md-input-container>
    <label>Column</label>
    <md-select ng-model="eventsList.opt">
        <md-option data-ng-repeat="o in eventsList.column">{{o}}</md-option>
      </md-select>
    </md-input-container>

    <events-sort on-change="eventsList.sortChanged(sort)" property="date" order="-1"></events-sort>
  </div>

  <div layout="column" layout-gt-sm="row">

    <div flex="50">
      <md-card dir-paginate="event in eventsList.events | itemsPerPage: eventsList.perPage" total-items="eventsList.eventsCount" style="text-align:left">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ui-sref="eventDetails({ eventId: event._id })">
              {{event.name}}
            </span>
            <span class="md-subhead">{{event.description}}</span>
          </md-card-title-text>
          <md-card-title-media ng-if="event.images">
            <div class="md-media-lg card-media">
              <event-image images="event.images"></event-image>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <p>{{event.date | date: "EEEE, MMMM d, y @ h:mm:ss a"}}</p>
          <p>Location: {{event.address}}</p>
          <event-rsvps-list rsvps="event.rsvps"></event-rsvps-list>
          <p>Oranized by: {{event.organizer}}</p>
        </md-card-content>
        <md-card-actions>
          <event-rsvp event="event" ></event-rsvp>
        </md-card-actions>
      </md-card>
      <dir-pagination-controls on-page-change="eventsList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>

  </div>

    <div flex="50">
      <events-map events="eventsList.events"></events-map>
    </div>

</div>